In [1]:
import pandas as pd

In [2]:
year_list_1 = ['12', '13', '14', '15', '16', '17', '18']
year_list_2 = ['19', '20', '21']

In [3]:
final_columns = ['YEAR', 'AREA', 'AREA_TITLE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL', 'HOURLY']
len(final_columns)

25

In [4]:
for year in year_list_1:
    
    sheet = 'state_dl'

    if year == '12' or year =='13':
        file_path = 'oesm' + year + 'st/' + 'state_M20' + year + '_dl.xls'
        sheet = 'state_dl'
    else:
        file_path = 'oesm' + year + 'st/' + 'state_M20' + year + '_dl.xlsx'
    
    
    df = pd.read_excel(file_path, sheet_name=sheet)
    
    df = df.drop(columns=['ST'])
    df['Year'] = '20' + year
    df = df.loc[df['OCC_GROUP'] == 'major']
    #df = df.loc[((df['OCC_GROUP'] == 'major') & (df['STATE'] != 'Guam') & (df['STATE'] != 'Puerto Rico') & (df['STATE'] != 'Virgin Islands'))]

    if year == '12':
        occ_emp_df = df.copy()
        print(year)
    else:
        occ_emp_df = pd.concat([occ_emp_df, df])
        print(year)

occ_emp_df.columns = ['AREA', 'AREA_TITLE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL', 'HOURLY', 'YEAR']
occ_emp_df = occ_emp_df[final_columns]

# missing 2012 STATE: 'District of Columbia', OCC_TITLE': 'Farming, Fishing, and Forestry Occupations' row

12
13
14
15
16
17
18

In [5]:
occ_emp_df

,YEAR,AREA,AREA_TITLE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
1,2012,1,Alabama,11-0000,Management Occupations,major,66790,1,36.608,0.75,...,43.21,59.64,83.37,49870,66520,89870,124060,173420,NaN,NaN
34,2012,1,Alabama,13-0000,Business and Financial Operations Occupations,major,65480,1.5,35.889,0.73,...,28.99,38.89,49.3,34710,45120,60290,80900,102540,NaN,NaN
66,2012,1,Alabama,15-0000,Computer and Mathematical Occupations,major,38150,2.5,20.91,0.76,...,33.13,43.76,54.87,35500,48470,68920,91010,114120,NaN,NaN
83,2012,1,Alabama,17-0000,Architecture and Engineering Occupations,major,39900,1.5,21.868,1.21,...,35.88,49.3,61.09,36630,52670,74640,102550,127070,NaN,NaN
116,2012,1,Alabama,19-0000,"Life, Physical, and Social Science Occupations",major,8950,2.2,4.906,0.58,...,24.98,34.8,45.72,30030,38550,51960,72390,95090,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36830,2018,78,Virgin Islands,43-0000,Office and Administrative Support Occupations,major,5460,4.6,169.066,1.12,...,14.6,20.12,27.68,20420,23190,30370,41840,57560,NaN,NaN
36859,2018,78,Virgin Islands,47-0000,Construction and Extraction Occupations,major,1780,11.6,55.073,1.34,...,19.71,25.66,30.83,27400,33170,41000,53370,64120,NaN,NaN
36871,2018,78,Virgin Islands,49-0000,"Installation, Maintenance, and Repair Occupations",major,1350,9.2,41.796,1.07,...,16.63,22.51,29.42,22890,27480,34580,46820,61180,NaN,NaN
36879,2018,78,Virgin Islands,51-0000,Production Occupations,major,730,8.6,22.553,0.36,...,18.7,27.06,32.69,20430,25450,38900,56280,68000,NaN,NaN
36884,2018,78,Virgin Islands,53-0000,Transportation and Material Moving Occupations,major,2170,6.7,67.071,0.95,...,13.79,18.09,23.33,20440,22820,28690,37630,48540,NaN,NaN

In [6]:
for year in year_list_2:
    file_path = 'oesm' + year + 'st/' + 'state_M20' + year + '_dl.xlsx'
    
    if year == '19':
        sheet = 'State_M20' + year + '_dl'
        df = pd.read_excel(file_path, sheet_name=sheet)
        df = df.drop(columns = ['area_type', 'naics', 'naics_title', 'i_group', 'own_code', 'pct_total'])
        df['Year'] = '20' + year
        df = df.loc[df['o_group'] == 'major']
        #df = df.loc[((df['o_group'] == 'major') & (df['area_title'] != 'Guam') & (df['area_title'] != 'Puerto Rico') & (df['area_title'] != 'Virgin Islands'))]
        occ_emp_df_2 = df.copy()
        occ_emp_df_2.columns = ['AREA', 'AREA_TITLE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL', 'HOURLY', 'YEAR']

    elif year == '20':
        sheet = 'State_M20' + year + '_dl'
        df = pd.read_excel(file_path, sheet_name=sheet)
        df = df .drop(columns = ['AREA_TYPE', 'PRIM_STATE', 'NAICS', 'NAICS_TITLE', 'I_GROUP', 'OWN_CODE', 'PCT_TOTAL'])
        df['Year'] = '20' + year
        df = df.loc[df['O_GROUP'] == 'major']
        #df = df.loc[((df['O_GROUP'] == 'major') & (df['AREA_TITLE'] != 'Guam') & (df['AREA_TITLE'] != 'Puerto Rico') & (df['AREA_TITLE'] != 'Virgin Islands'))]
        df.columns = ['AREA', 'AREA_TITLE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL', 'HOURLY', 'YEAR']
        occ_emp_df_2 = pd.concat([occ_emp_df_2, df])
    else:
        sheet = 'All May 2021 data'
        df = pd.read_excel(file_path, sheet_name=sheet)
        df = df .drop(columns = ['AREA_TYPE', 'PRIM_STATE', 'NAICS', 'NAICS_TITLE', 'I_GROUP', 'OWN_CODE', 'PCT_TOTAL','PCT_RPT'])
        df['Year'] = '20' + year
        df = df.loc[df['O_GROUP'] == 'major']
        #df = df.loc[((df['O_GROUP'] == 'major') & (df['AREA_TITLE'] != 'Guam') & (df['AREA_TITLE'] != 'Puerto Rico') & (df['AREA_TITLE'] != 'Virgin Islands'))]
        df.columns = ['AREA', 'AREA_TITLE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL', 'HOURLY', 'YEAR']
        occ_emp_df_2 = pd.concat([occ_emp_df_2, df])
    print(year)


occ_emp_df_2 = occ_emp_df_2[final_columns]

19
20
21

In [7]:
occ_emp_df_2

,YEAR,AREA,AREA_TITLE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
1,2019,1,Alabama,11-0000,Management Occupations,major,83760,1.2,42.428,0.77,...,45.03,63.07,90.16,47250,66140,93660,131180,187530,NaN,NaN
33,2019,1,Alabama,13-0000,Business and Financial Operations Occupations,major,78600,1.2,39.813,0.71,...,31.45,43,55.88,37480,49060,65410,89450,116230,NaN,NaN
61,2019,1,Alabama,15-0000,Computer and Mathematical Occupations,major,44070,2.3,22.322,0.72,...,38.22,51.6,66.32,42990,57570,79500,107320,137950,NaN,NaN
76,2019,1,Alabama,17-0000,Architecture and Engineering Occupations,major,44480,1.9,22.531,1.28,...,40.36,55.56,69.77,42950,60240,83960,115560,145120,NaN,NaN
108,2019,1,Alabama,19-0000,"Life, Physical, and Social Science Occupations",major,10740,2.5,5.441,0.62,...,28.16,37.72,49.58,34450,44000,58580,78460,103130,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37529,2021,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,30,12.2,1.052,0.33,...,14.41,17.86,22.64,29380,29980,29980,37140,47090,NaN,NaN
37530,2021,78,Virgin Islands,47-0000,Construction and Extraction Occupations,major,2300,3.6,69.277,1.67,...,22.42,28.55,37.03,29910,36600,46640,59380,77030,NaN,NaN
37545,2021,78,Virgin Islands,49-0000,"Installation, Maintenance, and Repair Occupations",major,1580,3.2,47.604,1.2,...,19.54,28.38,36.25,29010,29990,40640,59030,75410,NaN,NaN
37555,2021,78,Virgin Islands,51-0000,Production Occupations,major,830,13.4,24.839,0.42,...,17.92,29.11,38.17,23640,28350,37270,60550,79390,NaN,NaN
37564,2021,78,Virgin Islands,53-0000,Transportation and Material Moving Occupations,major,2470,5,74.241,0.83,...,14.48,20.92,28.55,23520,25300,30110,43510,59380,NaN,NaN

In [8]:
final_occ_emp_df = pd.concat([occ_emp_df, occ_emp_df_2])
final_occ_emp_df

,YEAR,AREA,AREA_TITLE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
1,2012,1,Alabama,11-0000,Management Occupations,major,66790,1,36.608,0.75,...,43.21,59.64,83.37,49870,66520,89870,124060,173420,NaN,NaN
34,2012,1,Alabama,13-0000,Business and Financial Operations Occupations,major,65480,1.5,35.889,0.73,...,28.99,38.89,49.3,34710,45120,60290,80900,102540,NaN,NaN
66,2012,1,Alabama,15-0000,Computer and Mathematical Occupations,major,38150,2.5,20.91,0.76,...,33.13,43.76,54.87,35500,48470,68920,91010,114120,NaN,NaN
83,2012,1,Alabama,17-0000,Architecture and Engineering Occupations,major,39900,1.5,21.868,1.21,...,35.88,49.3,61.09,36630,52670,74640,102550,127070,NaN,NaN
116,2012,1,Alabama,19-0000,"Life, Physical, and Social Science Occupations",major,8950,2.2,4.906,0.58,...,24.98,34.8,45.72,30030,38550,51960,72390,95090,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37529,2021,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,30,12.2,1.052,0.33,...,14.41,17.86,22.64,29380,29980,29980,37140,47090,NaN,NaN
37530,2021,78,Virgin Islands,47-0000,Construction and Extraction Occupations,major,2300,3.6,69.277,1.67,...,22.42,28.55,37.03,29910,36600,46640,59380,77030,NaN,NaN
37545,2021,78,Virgin Islands,49-0000,"Installation, Maintenance, and Repair Occupations",major,1580,3.2,47.604,1.2,...,19.54,28.38,36.25,29010,29990,40640,59030,75410,NaN,NaN
37555,2021,78,Virgin Islands,51-0000,Production Occupations,major,830,13.4,24.839,0.42,...,17.92,29.11,38.17,23640,28350,37270,60550,79390,NaN,NaN
37564,2021,78,Virgin Islands,53-0000,Transportation and Material Moving Occupations,major,2470,5,74.241,0.83,...,14.48,20.92,28.55,23520,25300,30110,43510,59380,NaN,NaN

In [9]:
region_df = pd.read_csv('regions.csv')

def get_region(area_title):
    return region_df.loc[region_df['Area title']==area_title]['Region'].values[0]

In [10]:
final_occ_emp_df['REGION'] = final_occ_emp_df['AREA_TITLE'].apply(lambda x: get_region(x))
final_occ_emp_df = final_occ_emp_df[['YEAR', 'REGION', 'AREA', 'AREA_TITLE', 'OCC_CODE', 'OCC_TITLE', 'OCC_GROUP', 'TOT_EMP', 'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90', 'ANNUAL', 'HOURLY']]
final_occ_emp_df

,YEAR,REGION,AREA,AREA_TITLE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
1,2012,South,1,Alabama,11-0000,Management Occupations,major,66790,1,36.608,...,43.21,59.64,83.37,49870,66520,89870,124060,173420,NaN,NaN
34,2012,South,1,Alabama,13-0000,Business and Financial Operations Occupations,major,65480,1.5,35.889,...,28.99,38.89,49.3,34710,45120,60290,80900,102540,NaN,NaN
66,2012,South,1,Alabama,15-0000,Computer and Mathematical Occupations,major,38150,2.5,20.91,...,33.13,43.76,54.87,35500,48470,68920,91010,114120,NaN,NaN
83,2012,South,1,Alabama,17-0000,Architecture and Engineering Occupations,major,39900,1.5,21.868,...,35.88,49.3,61.09,36630,52670,74640,102550,127070,NaN,NaN
116,2012,South,1,Alabama,19-0000,"Life, Physical, and Social Science Occupations",major,8950,2.2,4.906,...,24.98,34.8,45.72,30030,38550,51960,72390,95090,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37529,2021,Northeast,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,30,12.2,1.052,...,14.41,17.86,22.64,29380,29980,29980,37140,47090,NaN,NaN
37530,2021,Northeast,78,Virgin Islands,47-0000,Construction and Extraction Occupations,major,2300,3.6,69.277,...,22.42,28.55,37.03,29910,36600,46640,59380,77030,NaN,NaN
37545,2021,Northeast,78,Virgin Islands,49-0000,"Installation, Maintenance, and Repair Occupations",major,1580,3.2,47.604,...,19.54,28.38,36.25,29010,29990,40640,59030,75410,NaN,NaN
37555,2021,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,830,13.4,24.839,...,17.92,29.11,38.17,23640,28350,37270,60550,79390,NaN,NaN
37564,2021,Northeast,78,Virgin Islands,53-0000,Transportation and Material Moving Occupations,major,2470,5,74.241,...,14.48,20.92,28.55,23520,25300,30110,43510,59380,NaN,NaN

In [11]:
final_occ_emp_df.to_csv('occupational_employment_wage(state).csv', index=False)

In [12]:
final_occ_emp_df.groupby('AREA_TITLE').count()

,YEAR,REGION,AREA,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
AREA_TITLE,,,,,,,,,,,,,,,,,,,,,
Alabama,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Alaska,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Arizona,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Arkansas,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
California,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Colorado,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Connecticut,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Delaware,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
District of Columbia,219,219,219,219,219,219,219,219,219,219,...,219,219,219,219,219,219,219,219,0,0
Florida,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Georgia,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Guam,219,219,219,219,219,219,219,219,219,219,...,219,219,219,219,219,219,219,219,0,0
Hawaii,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Idaho,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Illinois,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Indiana,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Iowa,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Kansas,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Kentucky,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Louisiana,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Maine,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Maryland,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Massachusetts,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Michigan,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Minnesota,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Mississippi,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Missouri,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Montana,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Nebraska,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Nevada,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
New Hampshire,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
New Jersey,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
New Mexico,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
New York,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
North Carolina,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
North Dakota,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Ohio,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Oklahoma,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Oregon,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Pennsylvania,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Puerto Rico,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Rhode Island,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
South Carolina,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
South Dakota,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Tennessee,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Texas,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Utah,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Vermont,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Virgin Islands,215,215,215,215,215,215,215,215,215,215,...,215,215,215,215,215,215,215,215,0,0
Virginia,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Washington,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
West Virginia,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Wisconsin,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0
Wyoming,220,220,220,220,220,220,220,220,220,220,...,220,220,220,220,220,220,220,220,0,0

In [13]:
final_occ_emp_df.loc[final_occ_emp_df['AREA_TITLE'] == 'Virgin Islands']['OCC_TITLE'].value_counts()

Management Occupations                                        10
Protective Service Occupations                                10
Transportation and Material Moving Occupations                10
Installation, Maintenance, and Repair Occupations             10
Construction and Extraction Occupations                       10
Office and Administrative Support Occupations                 10
Sales and Related Occupations                                 10
Personal Care and Service Occupations                         10
Building and Grounds Cleaning and Maintenance Occupations     10
Business and Financial Operations Occupations                 10
Food Preparation and Serving Related Occupations              10
Healthcare Support Occupations                                10
Healthcare Practitioners and Technical Occupations            10
Arts, Design, Entertainment, Sports, and Media Occupations    10
Legal Occupations                                             10
Community and Social Service Occupations                      10
Life, Physical, and Social Science Occupations                10
Architecture and Engineering Occupations                      10
Computer and Mathematical Occupations                         10
Production Occupations                                         9
Farming, Fishing, and Forestry Occupations                     7
Education, Training, and Library Occupations                   6
Educational Instruction and Library Occupations                3
Name: OCC_TITLE, dtype: int64

In [14]:
final_occ_emp_df.loc[(final_occ_emp_df['AREA_TITLE'] == 'Virgin Islands') & (final_occ_emp_df['OCC_TITLE'] == 'Production Occupations')]

# missing 2013 AREA_TITLE: Virgin Islands, OCC_TITLE: Production Occupations row

,YEAR,REGION,AREA,AREA_TITLE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
37615,2012,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,1280,5.9,31.561,...,*,*,*,*,*,*,*,*,NaN,NaN
37695,2014,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,680,6.2,17.968,...,11.85,16.39,22.1,17190,19920,24660,34090,45960,NaN,NaN
37619,2015,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,670,12.8,18.043,...,12.25,15.47,21.63,17510,20390,25480,32180,44980,NaN,NaN
37541,2016,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,670,6.4,18.019,...,13.05,18.13,25.25,17380,20190,27150,37710,52530,NaN,NaN
36973,2017,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,840,8.2,22.534,...,16,23.09,29.52,19720,25650,33280,48030,61390,NaN,NaN
36879,2018,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,730,8.6,22.553,...,18.7,27.06,32.69,20430,25450,38900,56280,68000,NaN,NaN
36359,2019,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,780,7.3,22.622,...,18.1,25.9,33.86,23290,26460,37640,53870,70440,NaN,NaN
36062,2020,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,1110,4.3,31.099,...,23.51,30.93,38.25,24560,33390,48900,64330,79570,NaN,NaN
37555,2021,Northeast,78,Virgin Islands,51-0000,Production Occupations,major,830,13.4,24.839,...,17.92,29.11,38.17,23640,28350,37270,60550,79390,NaN,NaN

In [15]:
final_occ_emp_df.loc[(final_occ_emp_df['AREA_TITLE'] == 'Virgin Islands') & (final_occ_emp_df['OCC_TITLE'] == 'Farming, Fishing, and Forestry Occupations')]

# missing 2012 AREA_TITLE: Virgin Islands, OCC_TITLE: Farming, Fishing, and Forestry Occupations row
# missing 2018 AREA_TITLE: Virgin Islands, OCC_TITLE: Farming, Fishing, and Forestry Occupations row
# missing 2019 AREA_TITLE: Virgin Islands, OCC_TITLE: Farming, Fishing, and Forestry Occupations row

,YEAR,REGION,AREA,AREA_TITLE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
37685,2013,Northeast,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,**,**,**,...,10.18,13.39,17.57,16140,17610,21180,27850,36550,NaN,NaN
37671,2014,Northeast,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,50,28.8,1.295,...,10.75,14.35,18.56,16490,18040,22360,29840,38590,NaN,NaN
37598,2015,Northeast,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,40,28.3,1.193,...,10.89,14.04,18.6,16840,18440,22650,29190,38690,NaN,NaN
37521,2016,Northeast,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,30,12,0.844,...,14.17,17.21,20.91,25300,26870,29480,35810,43480,NaN,NaN
36954,2017,Northeast,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,30,8.6,0.846,...,15.19,19.31,23.09,25880,28020,31590,40160,48030,NaN,NaN
36036,2020,Northeast,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,40,14.8,1.198,...,16.61,18.6,22.75,27040,29820,34540,38690,47330,NaN,NaN
37529,2021,Northeast,78,Virgin Islands,45-0000,"Farming, Fishing, and Forestry Occupations",major,30,12.2,1.052,...,14.41,17.86,22.64,29380,29980,29980,37140,47090,NaN,NaN

In [16]:
final_occ_emp_df.loc[(final_occ_emp_df['AREA_TITLE'] == 'Virgin Islands') & (final_occ_emp_df['OCC_TITLE'] == 'Education, Training, and Library Occupations')]

# missing 2012 AREA_TITLE: Virgin Islands, OCC_TITLE: Education, Training, and Library Occupations Occupations row
# missing 2019 AREA_TITLE: Virgin Islands, OCC_TITLE: Education, Training, and Library Occupations Occupations row
# missing 2020 AREA_TITLE: Virgin Islands, OCC_TITLE: Education, Training, and Library Occupations Occupations row
# missing 2021 AREA_TITLE: Virgin Islands, OCC_TITLE: Education, Training, and Library Occupations Occupations row

,YEAR,REGION,AREA,AREA_TITLE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
37586,2013,Northeast,78,Virgin Islands,25-0000,"Education, Training, and Library Occupations",major,2700,4.7,69.385,...,18.8,23.26,29.67,19520,26900,39110,48380,61720,NaN,NaN
37577,2014,Northeast,78,Virgin Islands,25-0000,"Education, Training, and Library Occupations",major,2720,1.5,71.366,...,18.85,23.42,29.52,18720,26650,39200,48710,61400,NaN,NaN
37503,2015,Northeast,78,Virgin Islands,25-0000,"Education, Training, and Library Occupations",major,2600,2,69.533,...,17.39,22.86,28.69,18330,24810,36160,47550,59670,NaN,NaN
37425,2016,Northeast,78,Virgin Islands,25-0000,"Education, Training, and Library Occupations",major,2510,3.2,67.187,...,18.57,23.91,31.35,20110,28050,38630,49740,65210,NaN,NaN
36855,2017,Northeast,78,Virgin Islands,25-0000,"Education, Training, and Library Occupations",major,2440,3.7,65.023,...,19.59,24.92,33.5,22070,29520,40740,51830,69670,NaN,NaN
36764,2018,Northeast,78,Virgin Islands,25-0000,"Education, Training, and Library Occupations",major,2000,3,61.797,...,20.31,25.7,34.65,22720,31780,42240,53460,72080,NaN,NaN

In [17]:
final_occ_emp_df.loc[(final_occ_emp_df['AREA_TITLE'] == 'Virgin Islands') & (final_occ_emp_df['OCC_TITLE'] == 'Educational Instruction and Library Occupations')]

# missing 2013 - 2018 AREA_TITLE: Virgin Islands, OCC_TITLE: Educational Instruction and Library Occupations row2

,YEAR,REGION,AREA,AREA_TITLE,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
36243,2019,Northeast,78,Virgin Islands,25-0000,Educational Instruction and Library Occupations,major,2290,2.7,66.5,...,20.91,26.37,32.84,22570,31600,43480,54850,68320,NaN,NaN
35943,2020,Northeast,78,Virgin Islands,25-0000,Educational Instruction and Library Occupations,major,2310,2.6,64.805,...,21.24,27.09,34.23,23060,32010,44190,56350,71200,NaN,NaN
37437,2021,Northeast,78,Virgin Islands,25-0000,Educational Instruction and Library Occupations,major,2130,0.6,64.018,...,23.04,29.38,36.94,24280,37390,47920,61120,76840,NaN,NaN